{% extends './base.html' %}
{% block content %}   
<h2>Edit Invoice</h2>
<form method="POST">
    <div>
        {% csrf_token %}
        {{ form.non_form_errors }}
        {{ form.as_p }}
        <h5>Edit Items </h5>
        {{ invoice_item_formset.non_form_errors }}
        {{ invoice_item_formset.management_form }}
        {% for form in invoice_item_formset %}
            {{ form.non_form_errors }}
            {{ form.as_p }}
        {% endfor %}
    </div>
    <button type="submit">Update</button>
{% endblock %}